{% extends 'base.html' %}

{% block body %}

 <main role="main">
         <section class="jumbotron text-center">
            <div class="container">
              <form action="" method="POST">
                    <br>
                {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row">
                        <label for="id_{{  field.name }}" class="col-2 col-form-label">{{ field.label }}</label>
                        <div class="col-10">
                            {{ field }}
                        </div>

                    </div>
                    {% endfor %}
                <button type="submit" class="btn btn-primary" name="button">Add Data</button>
                </form>
            </div>
         </section>
 </main>

{% endblock %}